@using SiteMVC.Enums
@model UsuarioModel

@{
    ViewData["Title"] = "Edição de Contato";
}

<div class="center">
    <h1>Editar Usuario</h1>
</div>

<form asp-controller="Usuario" asp-action="Editar" method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="Id"/>

    <div class="form-group">
        <label for="Nome">Nome</label>
        <input type="text" asp-for="Nome" class="form-control" placeholder="Digite o nome do Usuario">
        @Html.ValidationMessageFor(x => x.Nome)
    </div>
    <div class="form-group">
        <label for="Email">Email</label>
        <input type="text" asp-for="Email" class="form-control" placeholder="Digite o e-mail do Usuario">
        @Html.ValidationMessageFor(x => x.Email)
    </div>
    <div class="form-group">
        <label for="Login">Login</label>
        <input type="text" asp-for="Login" class="form-control" placeholder="Digite o login do Usuario">
        @Html.ValidationMessageFor(x => x.Login)
    </div>
    <div class="form-group">
        <label for="Perfil">Perfil</label>
        <select asp-for="Perfil" class="form-control">
            <option value="">Selecione</option>
            <option value="@PerfilEnum.Admin">Administrador</option>
            <option value="@PerfilEnum.Padrao">Padrão</option>
        </select>
        @Html.ValidationMessageFor(x => x.Perfil)
    </div>
    <div class="form-group">
        <label for="Foto">Foto de Perfil</label>
        <input type="file" asp-for="Foto" class="form-control" accept=".jpg,.jpeg,.png" />
        @if (Model.Foto != null && Model.Foto.Length > 0)
        {
            <div>
                <img src="@Url.Action("GetImage", "Usuario", new { id = Model.Id })" alt="Foto de Perfil" style="max-width: 200px; max-height: 200px;" />
            </div>
        }
    </div>
    <br />
    <button type="submit" class="btn btn-primary btn-block">Editar</button>
    <a class="btn btn-secondary btn-block" asp-controller="Usuario" asp-action="Index" role="button">Voltar</a>
</form>